# Disable autosuspend for Genesys Logic USB Hub (05e3:0610)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05e3", ATTR{idProduct}=="0610", ATTR{power/control}="on"
